<div class="list-group">
    <div class="text-center">
        <button *ngFor="let operator of operations" (click)="updateOperation(operator)" type="button" class="list-group-item"
            [class.active]='currentOperator==operator'>
            {{operator.getOperationName()}} </button>

    </div>
</div>

<app-calculator [operator]='currentOperator' (resultEvent)="erroHandler($event)"></app-calculator>

<div *ngIf="!error.valid">
    <div *ngIf="error.dialog=='info'" class="alert alert-info">
        {{error.message}}
    </div>

    <div *ngIf="error.dialog=='danger'" class="alert alert-danger">
        {{error.message}}
    </div>
</div>